<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dropbox Project.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA882C7C1C61201500A70F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA882C901C61201500A70F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA882C9B1C61201500A70F51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
